//Default clearfix mixin
@mixin clearfix() {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}	
	&:after {
		clear: both;
		display: block;	
		font-size: 0;	
		height: 0;  	
		visibility: hidden;	
	}	     
}
$generate-password-bg: #5cb85c;
$copy-password-bg: #337ab7;

.chrome-password-generator-wrapper {
	input[type='text'] {
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 12px;
		padding: 6px 5px;
	}	
	font-family: arial,helvetica,sans-serif;
	font-size: small;
	width: 280px;
	@include clearfix();
	.strong-password-length {
		margin: 0 0 5px 0;
		width: 50px;		
	}
	#error-text {
		color: #f00;
		display: none;
		margin: 5px  0;
	}	
	.password-copied-text {
		display: none;
		color: #000;
		font-weight: bold;
	}
	.actions {
		margin: 5px  0 0 0;
		button {
			border: 1px solid transparent;
			border-radius: 4px;	
			box-shadow: none;
			cursor: pointer;
			display: inline-block;
			font-size: 12px;
			font-weight: 400; 
			line-height: 1.8;
			margin: 0 10px 0 0;
			padding: 6px 12px;			
		}
		#generate-password {
			background-color: $generate-password-bg;
			border-color: #4cae4c;
			color: #fff;
			&:hover {
				background-color: darken($generate-password-bg, 10%);
				transition: all 0.3s ease;
			}			
		}
		#copy-password {
			color: #fff;
			background-color: $copy-password-bg;
			border-color: #2e6da4;
			&:hover {
				background-color: darken($copy-password-bg, 10%);
				transition: all 0.3s ease;
			}				
			&.disabled {
				pointer-events: none;
				cursor: not-allowed;
				filter: alpha(opacity=65);
				-webkit-box-shadow: none;
				box-shadow: none;
				opacity: .65;				
			}
		}				
	}
	.strong-password-result {
		margin: 5px 0;
		width: 260px;		
	}
}



